form,.nine.wide.column
  background-color: white

.ui.main.grid
  left: 18.75%
  position: relative
  width: 85%
#authorize-container
  margin-top: 2%
  .custom-border
    border-left: 1px solid rgba(34,36,38,.15)
    border-right: 1px solid rgba(34,36,38,.15)
    border-top: 1px solid rgba(34,36,38,.15)
    border-radius: 5px 5px 0 0

  .shadow
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
      -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
  #authorize-form
    border-left: 1px solid rgba(34,36,38,.15)
    border-right: 1px solid rgba(34,36,38,.15)
    border-bottom: 1px solid rgba(34,36,38,.15)
    border-radius: 0 0 5px 5px
+tablet
  .ui.main.grid
    left: 0%
    padding-top: 2.75rem !important
    position: relative
    width: 100%
